<h1>Welcome</h1>
<h4>Our learning group has <%= @users.count %> members now! (Last in: <%= @users.last.name %>)</h4>
<p>Thanks to Mentor <a href="mailto:dan@bluefoc.us">Dan Matthews</a> for endless support</p>
