<h1>All Users informations list</h1>
Total <%= @users.count %> users signed up!

<table width=80%>
<hr>
  <tr>
    <td width=10%><h4>ID</td>
    <td width=30%><h4>Name</td>
    <td width=30%><h4>Username</td>
    <td width=30%><h4>Follow</td>
  </tr>

  <% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.name %></td>
    <td><%= u.username %></td>
    <td>Follow</td>
  </tr>
  <% end %>

</table>
